html.no-js { background-color: yellow; }
html.has-js { background-color: white; }
.valid { color: green; font-weight: bold; }

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; 
}

html {
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 1em; 
  line-height: 1.5em; 
  height: 100%;
  width: 100%;
}

form {
  margin: 0 auto;
  width: 400px;

  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;

  margin-top: 1em;
}

fieldset {
  display: block;
  text-align: left;
  margin-top: 1em;
}

.user-signin {
	margin-top: 0.5em;

}

.user-signup {
	margin-top: 0em;
	display: none;
}

legend {
  text-align: center;
}

#new-user, #exist-user {
  position: relative;
}

#email, #password, #first-name, #last-name {
  border: 1px solid #BDC4C9;
  font-size: 16px;
  padding: 5px 6px;
  width: 100%;
  max-width: 400px;
  margin: 2px 0px 5px;
  min-height: 34px;
  line-height: normal;

  border-radius: 3px;
}

input#checkbox {
  margin-right: .2em;
}

#submit {
  text-align: center;
  margin: 0px auto;
  padding-top: 0em;
  width: 400px;
  height: 50px;
}

a {
  color: #2895F1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
